---
---

@charset "utf-8";

// bmf theme
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1674px,
) !default;

$body-bg: #000 !default;
$body-color: #fff !default;

//mininal bootstrap
@import "bootstrap";

//bmf custom
.fb-page-wrapper {
  top: $spacer;
  right: $spacer;
  position: absolute;
}
